body {
    background: #99b5d0;
    color: black;
    font-optical-sizing: auto;
    font-size: 30px;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.title {
    font-weight: bold;
    font-size: larger;
    margin-left:0px;
    display: table;
    margin: auto;    
}

.question {
    font-weight:bold;
    background-color: #3c8dbf;
    padding-left: 10px;
    min-height: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    width: 790px;
    border-radius: 10px;
}

.questionCode {
    font-weight: bold;
    font-style:italic;
    padding-left: 0px;
    padding-right: 5px;
    border-radius: 10px;
}

.qBlock {
    margin-top: 30px;
    margin-left: 0px;
    background-color: #4292c4;
    width: 800px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: 3px solid #3889bc;   
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
}

.info {
    margin-top: 30px;
    margin-left: 0px;    
}

.info input {
    border-radius: 5px;
    height: 40px;
    font-size: 30px;
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
}

.info input:hover {
    border-radius: 5px;
    height: 40px;
    font-size: 30px;
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
}

.qResult {    
    margin-left: 0px;
    padding-bottom: 30px;
    display: table;
    margin: auto;
    margin-top: 30px;
}

button {
    border: 3px solid #30884e;
    background-color: #58c47a;
    border-radius: 5px;
    padding: 10px 15px;
    color:black;
    outline: none;
    font-size: 30px;
    cursor: pointer;   
    transition: all 500ms ease;
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
}

button:hover {
    transition: all 500ms ease;
    transform: scale(1.05);
    background-color: #40a15f;
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
}

.qResultTextarea {
    width: 800px; 
    min-width: 800px;
    margin-left: 0px;  
    padding-bottom: 30px;
    border-radius: 10px;
    background-color: #55c37b;
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
}

.labelResultText {
    margin-left: 0px;  
}

.qBlock span {
    margin-left: 20px;
}

input[type=radio]:checked + label {   
  text-indent: 0em; /* here */
  padding-left: 0.3em; /* and here */
  margin: 5px 1px 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #55c37b;
}

input[type=radio]:empty + label {
  text-indent: 0em; /* here */
  padding-left: 0.3em; /* and here */
  margin: 5px 1px 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.styled-input-single {
    position: relative;
    display: inline-flex;
    min-width: 790px;    
}
